{% load static %}
{% load crispy_forms_tags %}
{% load jsonify %}
<html  lang="en">
<head>
<link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
<title>Bet Master</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
<!-- Favicons -->

  <!-- <link href="{% static 'accounts/img/logo.PNG' %}" rel="icon">
  <link href="{% static 'accounts/img/apple-touch-icon.png' %}" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'betMaster/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'betMaster/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'betMaster/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'betMaster/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'betMaster/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'betMaster/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <script src="{% static 'betMaster/js/orders.js' %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>

  <!-- Main Stylesheet File -->
  <link href="{% static 'betMaster/css/style.css' %}" rel="stylesheet">
  <script type="text/javascript">
    var btcPrice = " {{ request.session.conversionRate }}";
    var qrBinary = "{{ request.session.qrCodeBinary }}";
    var btcBalance = "{{ request.session.balance }}";
</script>


</head>

<body onload="initPage(qrBinary, btcPrice, btcBalance);">

  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="{% url 'index' %}" class="scrollto">Bet Master {{ username }}</a></h1>

      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="{% url 'index' %}">Betting Lines</a></li>
          <li class="menu-has-children"><a id="accountHeader" href="#">Account</a><p id="balanceNotifier" class="balance"><ion-icon id="headerBalanceIcon" name="logo-bitcoin"></ion-icon>{{ btcBalance }}</p>
            <ul id="accountInfoDiv">
              <div class="container">
                <div class="row accountInfo">
                  <div class="col-4">
                      <img id="profPic" src="{% static 'betMaster/img/stock.png' %}" alt="stock">
                  </div>
                  <div class="col-8 text-center">
                      <h5 id="usernameID">{{ request.session.username }}</h5>
                      <br>
                      <h3 id="balanceHeader" class="balance" id="usdBalance"><ion-icon id="btcLogo" name="logo-bitcoin"></ion-icon>{{ btcBalance }}</h3>
                  </div>
                </div>
                
                <div class="row accountInfo">
                  <div class="col text-center" id="walletDiv">
                    <hr>
                    <br> <h5 id="walletAddress">Wallet Address:</h5><br>
                    <img src="" alt="qrCode" id="qrCode" class="qrCodeImg"> <br><br>
                    <p id="walletChars">{{ request.session.btcAddress }}</p>
                    <br><hr><br>
                    <h5 id="apiKeyHeader">API Key:</h5><br>
                    <p id="apiKeyChars">{{ request.session.apiKey }}</p>
                    <br><hr>
                  </div>
                  <div class="col text-center">
                      <br>
                      <button onclick="showWithdrawDiv();" id="withdrawBtn" class="btn btn-success"><strong>Withdraw</strong></button> 
                  </div>
                </div>
                <div class="row withdrawInfo">
                  <div class="col">
                      <div style="display:none;" id="withdrawDiv">
                          <h2 style="display:inline-block">Withdraw BTC</h2>
                          <button style="float:right; width: 20px;" onclick="showAccountInfo();" class="btn btn-danger">X</button>
                          <br><hr><br>
                          <h4><strong>Enter Bitcoin Address:</strong></h4>
                          <input onkeyup="convertToBtc(btcPrice);" id="btcWithdrawAddress" style="width: 100%; height:38px;" type="text"><br><br>
                          <h4><strong>Withdraw Amount (USD)</strong></h4>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span style="height: 38px; width: 30px;"  class="input-group-text">
                                      <ion-icon style="margin-left:5px;" name="logo-usd"></ion-icon>
                                  </span>
                              </div>
                              <input onkeyup="convertToBtc(btcPrice);" style="margin-left:1px; border: 2px solid white;" id="usdWithdraw" placeholder="Enter USD Amount" type="number" class="form-control" value="">
                          </div>
                          <p id="maxUSDWithdraw"></p>
                          <p id="errorMessage" style="display:none; color:red;"></p><br><br>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span style="height: 38px; width: 30px;"  class="input-group-text">
                                      <ion-icon style="margin-left:5px;" name="logo-bitcoin"></ion-icon>
                                  </span>
                              </div>
                              <input style="margin-left:1px; border: 2px solid white;" placeholder="0.000" id="btcWithdraw" type="number" class="form-control" value="" readonly><br><br>
                          </div>
                      <button style="margin: 0 auto !important; display:flex !important; justify-content: center !important;" disabled="true" onclick="withdrawalRequest()" id="makeWithdrawBtn" class="btn btn-success"><strong>Withdraw</strong></button>
                </div>
                </div>
              </div>
              
            </ul>
          </li>
          <li><a href="{% url 'orders' %}">Orders</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->


      {% block content %}
      {% endblock %}
<br><br>
    <div class="container">
      <div class="copyright" style="text-align:center;">
        &copy; Copyright <strong>Bet Master Inc.</strong> All Rights Reserved
      </div>

    </div>


  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <br><br>

  <!-- JavaScript Libraries -->
  <script src="{% static 'betMaster/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'betMaster/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'betMaster/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'betMaster/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'betMaster/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'betMaster/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'betMaster/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'betMaster/lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'betMaster/lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'betMaster/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'betMaster/lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'betMaster/lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'betMaster/lib/touchSwipe/jquery.touchSwipe.min.js' %}"></script>


  <!-- Template Main Javascript File -->
  <script src="{% static 'betMaster/js/main.js' %}"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>

  <script src="{% static 'betMaster/js/index.js' %}"></script>
{% block javascript %}{% endblock %}